html, body {
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}
.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}
.shadowEffect{
  text-shadow: 0.5px 0.5px black;
}
.buttonC{
  font-size:14px;
  border: 2px solid #1779C4;
  padding: 5px;
  padding-right: 30px;
  /* border-radius: 5%; */
  transition: 0.3s;
}
.buttonC:hover{
    color: inherit;
    box-shadow: 2px 2px 10px #219EFE;
    transform: scale(1.55,1.55);
}
.imgVak{
  position: relative;
  height: 400px;
  width: 300px;
  filter: blur(2px);
  transition: 0.6s;
}
.imgVak2{
  position: relative;
  height: 400px;
  width: 632px;
  filter: blur(2px);
  transition: 0.3s;
}
.imgVak2:hover,
.imgVak2:focus,
.imgVak:hover,
.imgVak:focus{
  filter: blur(0px);
}
.imgFull{
  position: absolute;
  width: 100%;
  height: 100%;
}
.grayText{
  color: #686868;
}
.profileGradient{
    animation: bg-animation 60s infinite;
}

.gradient{
    background:linear-gradient(118deg, #780206 0%, #061161 100%);
    background-size: 300%;
    background-position: left;
    animation: bg-animation 60s infinite;
}
@keyframes bg-animation {
    0%{background-position:0% 87%}
    50%{background-position:100% 14%}
    100%{background-position:0% 87%}
}

.first{
  position:relative;
  top:40px;
}
.ProfileAbout{
  position: relative;
  left: -31%;
  bottom: 0;
  width: 150%;
}
.profileScore{
  position: relative;
  left: -28%;
  width: 150%;
}
.profileName{
  position: relative;
  left: -34%;
  padding-bottom: 20px;
  font-size: 900;
  text-transform:capitalize;
}
.profileImage{
  position: relative;
  height: 300px;
  width: 300px;
  left: -30px;
}
.ProfileVideo{
  position: relative;
  left: 10%;
  border: none;
  transition: 0.2s;
}
.ProfileVideo:focus,
.ProfileVideo:hover{
  transform: scale(1.05,1.05);
  filter: drop-shadow(10px 10px 10px #340B3C) drop-shadow(-10px -10px 10px #230b3c);
}
.bar{
  position: relative;
  width: 120%;
  left: -10%;
  top: -70px;
  height: 100px;
  background-color: #1D1D1D;
  box-shadow: 5px 1px 5px 1px #080808;
}

.moreMT{
  margin-top: 150px;
}


.Rgbbutton {
  position: relative;
  top: 20px;
  padding: 1rem;
  font-size: 1rem;
  padding: .5rem 3rem;
  color: white;
  box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
  border: solid 3px transparent;
  background-image: linear-gradient(rgba(65, 88, 208, 0), rgba(200,80,192, 0)), linear-gradient(101deg, #4158D0, #C850C0);
  background-origin: border-box;
  box-shadow: 2px 1000px 1px #171717 inset;
  transition: 0.3s;
}

.Rgbbutton:hover{
    color: inherit;
    box-shadow: 2px 1000px 1px #171717 inset;
    text-decoration: none;
    transform: scale(1.2,1.2);
    animation: bg-animation 10s infinite;
}

.socialHolder{
  position: relative;
  display: inline-block;
  height:300px;
  width: auto;
  left: -50px;
}
.social{
  position: relative;
  width: 50px;
  height: 50px;
}
.icon{
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 36px;
  text-align: center;
  color: white !important;
  transition: 0.3s;
}

.icon:hover{
  text-decoration:none;
  transform: scale(1.1,1.1);
}

.iconStar{
  font-size: 40px;
  margin: 5px;
  background: -webkit-gradient(linear, left top, left bottom, from(#DC2424), to(#4A569D));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: initial; /* reset Font Awesome's display:inline-block */
}

.small{
  font-size: 30px;
  margin: 4px;
}

.ReviewButton{
  position: relative;
  margin-top: 40px;
  background: inherit;
  color: white;
  border: 2px solid white;
  font-size: 15px;
}

.search{
  transition: 0.3s;
}
.search:focus,
.search:hover{
  text-decoration: none;
  transform: scale(1.05,1.05);
}
.Background{
  position: absolute;
  left: 0;
  right: 0;
  /* z-index: -100; */
  background-color: #191919;
}

.backgroundColor{
  background-color: #171717;
}
/* settings */
.settings{
  position: relative;
  width: 300px;
  height: 100%;
  left: -30px;
  top: -35px;
  border:none;
  margin-bottom: -140px;
  background-color: #161616;
}
.setting{
  color: gray;
  font-size: 20px;
  background: inherit;
  margin: 5px;
  transition: 0.3s;
}
.setting:after {
	content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 3px solid;
  margin-top: 10px;
  opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

.setting:hover:after {
  opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}
.OptionPage{
  display: none;
  position: relative;
  text-align: left;
  min-height: 1200px;
}
.settingsForm{
  position: relative;
  left : 0;
  top: 0;
  width: 200%;
}
.saveButton{
  position: fixed;
  right: 5%;
  bottom: 10%;
  z-index: 100;
  color: white;
  border: none;
  font-size: 25px;
  border-radius: 5px;
  padding: 5px 20px 5px 20px;
  transition: 0.2s;
}

.saveButton:hover{
  transform: scale(1.1,1.1);
  filter: drop-shadow(10px 10px 10px #340B3C) drop-shadow(-10px -10px 10px #230b3c);
}

.cardImage{
  position: relative;
  width: 125px;
  height: 125px;
}


.reviewForm{
    position: relative;
    display: none;
}

.starButton{
  border: none;
  font-size: 40px;
  margin: 5px;
}
.starButton:focus{

}
.unselected{
  background: #0D0D0D;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: initial;
}
.selectedStar{
  background: -webkit-gradient(linear, left top, left bottom, from(#DC2424), to(#4A569D));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: initial;
}
textarea{
  background-color: #141414;
  border: none;
  padding: 10px;
  font-size: 15px;
  color: white;
  outline: none;
  resize: none;
  overflow: auto;
}

.settingIcon{
  font-size: 30px;
  color white;
}

.label{
  float: left;
  margin-right: 20px;
  text-align: left;
}
.Logolabel{
  float: left;
  width: 50px;
  display: block;
}

.settingInput{
  border: none;
  font-size: 20px;
  background-color: inherit;
  display: block;
  color: white;
}


/*Product card*/

.productCard{
  float: right;
  margin: 10px;
  width: 200px;
  height: 200px;
  color: white;
  border-radius: 10px;
  transition: 0.3s;
}
.productCard:hover{
  transform: scale(1.05,1.05);
  filter: drop-shadow(10px 10px 10px #340B3C) drop-shadow(-10px -10px 20px #230b3c);
}

.addProduct{
  position: relative;
  top: 11%;
  text-align: center;
  font-size: 100px;
}

.ColorPicker{
  border: none;
  width: 100px;
  height: 35px;
  border-radius: 5px;
}
.fontOptions{
  font-size: 15px;
  padding: 5px;
  color: white;
  background-color: #161616;
  border: none;
}


.gradientBar{
  position: relative;
  display: inline-block;
  left: 40px;
  top: 5px;
  width: 300px;
  height: 35px;
}
.imgInput{
  float: left;
}
.currentImg{
  position: relative;
  /* margin-left: 70%; */
  width: 300px;
  height: 300px;
  filter: drop-shadow(10px 10px 10px #340B3C) drop-shadow(-10px -10px 10px #230b3c);
}

/*Products*/
.productInputList{
  position: fixed;
  top: 10vh;
  left: 30vw;
  z-index: 100;
  width: 40vw;
  height: 0;
  background: #161616;
  border-radius: 1%;
  transition: 0.3s;
}
.close{
  position: absolute;
  width: 8%;
  height: 8%;
  right: 2%;
  top: 2%;
  font-size: 5vh;
  transition: 0.2s;
  color: white;
}
.close:hover{
  transform: scale(1.05,1.05);
  color: white;
}
.holder{
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.inputs{
  position: relative;
  top: 10%;
  left: 10%;
}
.Label2{
  position: relative;
  float: left;
  width: 11%;
  height: 6vh;
  font-size: 6vh;
  display: block
}
.productInput{
  position: flex;
  display: inline;
  height: 6vh;
  width: 50%;
  border: none;
  margin-bottom: 2vh;
}
.Icon{
  position: absolute;
}

.selectSetting{
  position: relative;
  display: inline-block;
  margin-right: 3vw;
  width: 2vw;
  height: 2vw;
  border-radius: 2%;
  transition: 0.2s;
}
.selectSetting:hover{
  transform: scale(1.1,1.1);
  filter: drop-shadow(10px 10px 10px #340B3C) drop-shadow(-10px -10px 10px #230b3c);
}
.setSlot{
    background: white;
}
.productAbout{
  width: 60%;
}
.Spacer{
  position: relative;
  height: 4vh;
  width: 100%;
}
.uploadProduct{
  position: relative;
  left: 4%;
  bottom: 13%;
  border: none;
  color: white;
  font-size: 4vh;
  background: inherit;
}
